@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

/* MODULES */
/***********/
.section {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 150%
}

.sectionHeader {
     padding-top: 70px;
    font-size: 2.5em;
}

.sectionText {
     padding-bottom: 100px;   
}

.slice {
     background-color: #ffc645; 
    vertical-align: bottom;
   line-height: 0px;
}

.text-right {
     text-align: right;   
}

/* SPLASH SECTION */
/******************/
.splash {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 6em;
    height: 100vh;
    text-align: center;  
    background-image: url(../imgs/Untitled-1.gif);
    background-size: cover;
}

.splash h1 {
     font-size: 2em;
    color: black;
    line-height: 140px;
    padding-top: 20vh;
    transform: rotate(-7deg);
}

/* ARTIST SECTION */
/******************/
.artists {
    background-color: #ffc645;
    
}

.artists img {
     width: 100%;
    padding-bottom: 70px;
}

/* ABOUT SECTION */
/*****************/
.about {
    background-color: #399372;
 
}

/* MISSION SECTION */
/*******************/
.mission {
    background-color: #ffc645;
    background-position: bottom;
}



